<section class="search">
  <div id="site_search">
    <input type="text" id="local-search-input" style="width: 200px;" results="0" />
    <div id="local-search-result"></div>
  </div>
</section>

<div id="menu" class="book-menu hide">
  <%- menu %>
</div>

<%- js('js/book-menu') %>
<%- js('js/book-search') %>